{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": false,
            "modules":false,
            "targets": {
                "browsers": ["last 2 chrome versions"]
            }
        }]
    ],
    "env": {
        "test":{
            "presets": [
                ["@babel/preset-env", {
                  "targets": {
                    "node": "current"
                  }
                }]
            ]
        },
        "commonjs":{
            "plugins": ["@babel/plugin-transform-modules-commonjs"],
            "presets": [
                ["@babel/preset-env", {
                    "modules":"commonjs"
                }]
            ]
        },
        "umd":{
            "plugins": ["@babel/plugin-transform-modules-umd"],
            "presets": [
                ["@babel/preset-env", {
                    "modules":"umd"
                }]
            ]
        }
    }
}